<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="language" value="en-US" />
    <add key="MaxPortNums" value="255" />
    <add key="PortName" value="COM1" />
    <add key="BaudRate" value="115200" />
    <add key="DataBits" value="8" />
    <add key="Parity" value="2" />
    <add key="BootSwitch" value="0" />
    <add key="BootOption" value="0" />
    <add key="TimeOut" value="2" />
    <add key="OperationType" value="Download" />
    <add key="DownloadPath" value="" />
    <add key="DownloadPathFilterIndex" value="1" />
    <add key="DownloadEraseOption" value="0" />
    <add key="DownloadAddress" value="8000000" />
    <add key="DownloadOptimize" value="0" />
    <add key="DownloadVerify" value="1" />
    <add key="DownloadJump" value="1" />
    <add key="DownloadOptionByte" value="0" />
    <add key="DownloadOptionByteFilePath" value="" />
    <add key="DownloadOptionByteFilePathFilterIndex" value="1" />
    <add key="DownloadEnableRDP" value="0" />
    <add key="DownloadEnableRDPLevel" value="0" />
    <add key="RDPMessageShow" value="1" />
    <add key="UploadPath" value="" />
    <add key="UploadPathFilterIndex" value="1" />
    <add key="ProtectionEnableDisable" value="0" />
    <add key="ProtectionReadWrite" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="FWCRCPathFilterIndex" value="1" />
    <add key="FWCRCPath" value="" />
    <add key="FWCRCAddr" value="08000000" />
    <add key="FWCRCFillValue" value="FF" />
    <add key="ExtBank3Flag" value="false" />
    <add key="EnBank3FlashType" value="" />
    <add key="EnBank3FlashTypeName" value="" />
    <add key="EnBank3FlashSize" value="" />
    <add key="EnBank3FlashDA" value="0" />
    <add key="SPIMRemapFlag" value="false" />
    <add key="DownloadSNFlag" value="false" />
    <add key="DownloadSNAddr" value="08010000" />
    <add key="DownloadSNStep" value="00000001" />
    <add key="DownloadSNLastNum" value="00000001" />
    <add key="EnableSlibFlag" value="false" />
    <add key="PortType" value="USB DFU" />
    <add key="DFUPid" value="DF11" />
    <add key="DFUVid" value="2E3C" />
    <add key="DFUSN" value="SM32" />
    <add key="DFUCheckItem" value="0" />
    <add key="HID_Dir" value="\\?\hid#vid_1ea7&amp;pid_ced3&amp;mi_01#7&amp;194cbb5e&amp;0&amp;0000#{4d1e55b2-f16f-11cf-88cb-001111000030}" />
    <add key="HeartbeatInterval" value="3000" />
  </appSettings>
  <Bank3TypeList>
    <Member Name="GD25Q127C" Value="1" Size="16MB" />
    <Member Name="GD25Q64C" Value="1" Size="8MB" />
    <Member Name="GD25Q32C" Value="1" Size="4MB" />
    <Member Name="GD25Q16C" Value="1" Size="2MB" />
    <Member Name="GD25Q80C" Value="1" Size="1MB" />
    <Member Name="W25Q128V" Value="2" Size="16MB" />
    <Member Name="EN25QH128A" Value="2" Size="16MB" />
    <Member Name="Common Type1" Value="1" Size="16MB" />
    <Member Name="Common Type2" Value="2" Size="16MB" />
  </Bank3TypeList>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <MultiFileList>
    <Member Path="D:\Admin\Documents\Projects\Keyboard\Zoom75\WQ206A1UBTG2_V10_1423_KB81_RGB_LCD_SV3.0.0_20240306.hex" Address="08000000" />
  </MultiFileList>
</configuration>